extends layout

block mainContent        
    input#email(type='hidden', name='userid', value=userid)
    div(class="timelineBlock")
      h3 History
        div#time-track

    div(class="buttonsBlock")
      h3 Bit Brothers
      ul#participants
        li(data-id="trnl.me@gmail.com", class="button")
          div.controls 
          h4 trnl.me@gmail.com
        li(data-id="litvinok@gmail.com", class="button")
          h4 trnl.me@gmail.com        
          div.controls 
        li(data-id="bas.andrei@gmail.com", class="button")
          h4 trnl.me@gmail.com       
          div.controls 
        li(data-id="test.me@gmail.com", class="button")
          h4 trnl.me@gmail.com       
          div.controls 
        li(data-id="bymongo@me.com", class="button")
          h4 trnl.me@gmail.com        
          div.controls
        li(data-id="triangel@tut.by", class="button")                                        
          h4 trnl.me@gmail.com       
          div.controls 
    script(src='/javascripts/socket-client.js')
    script(src='/javascripts/jquery.md5.js')    
    script
      $(document).ready(function() {
         
      });
