extends layout

block mainContent
    input(type='hidden', name='userid', value=userid)
    div(class="timelineBlock")
      h3 Timeline goes here
    div(class="buttonsBlock")
      h3 Buttons goes here
    script(src='/javascripts/socket-client.js')
