extends layout

block mainContent
  div(class="loginForm")
    h3 #bitb: entering
    form      
      div.fieldcomp
        fieldset
          input(class="withPlaceholder placeholder", data-placeholder="Your Email", name="email", type="name", value="")
      div.submitCont      
          input(type='submit', value='Submit')