body {
  background: #DCDCD9 url(../images/debut_light.png) repeat;
/*  background: #DCDCD9 url(../images/absurdidad.png) repeat;*/
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: .8em
}
a {
  color: #5B5B5B
}
#main-content {
  background: #fff;
  width: 960px;
  overflow: hidden;
  margin: 60px auto 30px;
  position: relative;
  box-shadow: 0 0 30px #c7c7c7;
  -webkit-box-shadow: 0 0 30px #c7c7c7;
  -moz-box-shadow: 0 0 30px #c7c7c7;
  -o-box-shadow: 0 0 30px #c7c7c7
}
header {
  margin: 0 50px;
  height: 90px;
  border-bottom: solid 1px #E9E9E9
}
header h1 {
  float: left
}
header h1 a {
  display: block;
  height: 90px;
  width: 100px;
  text-indent: -900em;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-image: url(/images/logo.png)
  
}

#main-content section {
  margin: 0 50px;
  padding: 50px 0;
  border-bottom: solid 1px #E9E9E9;
}

#nav {
  float: right;
  text-transform: uppercase;
  position: relative
}
#nav li {
  float: left;
  line-height: 90px;
  margin-left: 20px
}
#nav .active a {
  opacity: 0.5
}
#nav a {
  font-size: .85em;
  font-weight: bold
}

#end{
  height: 200px;
  background:#191919;
}

footer {
  color: #919191;
  text-align: center;
  font-size: .8em;
  text-shadow: 0 1px 0 #fff;
  padding-bottom: 90px;
  margin-bottom: 40px
}

.loginForm {
    margin: 50px 50px 0;
}
.loginForm a {
    color: #8ED4B3
}
.loginForm h3 {
    margin-bottom: 20px;
    font-family: 'Arial Black', 'Gill Sans', 'Lato', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    color: #5B5B5B;
    font-weight: 900;
    text-transform: uppercase
}
.loginForm form {
    height: 200px;
    background: url(/images/airplane.png) -140px 220px no-repeat;
    position: relative
}

.loginForm fieldset input{
    background: #eee;
    color: #08C;
    border: solid 1px #c8c8c8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    padding: 10px;
    display: block;
    margin: 0 20px 20px 0;
    outline: none;
    font-size:20px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    
}

.loginForm fieldset input:focus,.loginForm fieldset textarea:focus {
    color: #08C;
}
.loginForm .submitCont {
    text-align: right
}
.loginForm .submitCont input {
    width: 140px;
    height: 38px;
    line-height: 38px;
    border: solid 1px #c8c8c8;
    background: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    color: #5B5B5B;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px
}
.loginForm .successMessage {
    position: absolute;
    top: 60px;
    left: 400px;
    opacity: 0;
    visibility: hidden;
    font-family: 'Arial Black', 'Gill Sans', 'Lato', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    color: #fff;
    font-weight: 900;
    t
